<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winerte.dao.UserMapper">

    <select id="getUser" resultType="com.winerte.pojo.User">
        select id , user_name userName  , pass_word  passWord
        from t_user where id = #{id}
    </select>
</mapper>
